.crm-container {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.crm-container h1,
.crm-container h2 {
  color: #333;
  font-weight: bold;
}

.crm-container p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-top: 20px;
}

.crm-container ul {
  padding-left: 20px;
  margin-top: 20px;
}

.crm-container li {
  margin-bottom: 10px;
  color: #555;
}

.login-container { 
  padding: 20px;
  max-width: 300px;
  margin: 50px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #555;
}


.register-container {
  padding: 20px;
  max-width: 300px;
  margin: 50px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.register-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #337ab7;   
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #286090;   
}

/* Navbar.css */

nav {
  background-color: #333;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

button {
  background-color: #ff4b5c;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e4394f;
}

.klijenti-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.actions-container {
  margin-bottom: 15px;
}

.dodaj-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
      background-color: #0056b3;
  }
}

/* Dodaj.css */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2C3E50;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ECF0F1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #34495E;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #BDC3C7;
  border-radius: 5px;
  font-size: 16px;
  color: #7F8C8D;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #3498DB;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #3498DB;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980B9;
}

.dodaj-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 20px auto;
}

.dodaj-task-container form {
  width: 100%;
  max-width: 500px;
}

.dodaj-task-container div {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

select, textarea, input[type="date"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

select:focus, textarea:focus, input[type="date"]:focus {
  border-color: #007BFF;
  outline: none;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.crm-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

p, ul {
    color: #666;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Razmak između slika */
    margin-top: 20px;
}

.image-container {
    flex: 1;
    min-width: calc(20% - 10px); /* Ovo će omogućiti da svaka slika zauzme oko 20% širine kontejnera sa odbitkom za razmak */
    overflow: hidden; /* Ovo će sakriti deo slike ako ne stane u kontejner */
    border-radius: 5px; /* Zaobljeni uglovi */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Malo senke za efekat dubine */
    transition: transform 0.3s ease; /* Efekat tranzicije za uvećanje slike */
}

.image-container:hover {
    transform: scale(1.05); /* Uvećava sliku kada se pređe preko nje */
}

.image-container img {
    width: 100%; /* Slika će preuzeti širinu kontejnera */
    height: auto;
    display: block; /* Uklanja beli prostor ispod slike */
    object-fit: cover; /* Ovo će obezbediti da slika pokrije celu površinu kontejnera bez izobličenja */
}

.azuriraj-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
}

.azuriraj-container form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Razmak između elemenata forme */
}

.azuriraj-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.azuriraj-container input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.azuriraj-container input:focus {
  border-color: #007BFF;
  outline: none;
}

.azuriraj-container button {
  padding: 10px 15px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.azuriraj-container button:hover {
  background-color: #0056b3;
}
